.row{
    color: #fff;
    margin-left: 20px; 
}

.row__posters{
display: flex;
overflow-y: hidden;
overflow-x: scroll;
padding: 20px;
}

.row__posters::-webkit-scrollbar{
    display: none
}

.row__poster{
max-width: 180px;
object-fit: contain;
margin-right: 10px;
transition: transform 450ms;
}

.row__poster:hover{
    transform: scale(1.08);
    opacity: 1;
}

.row__posterLarge{
max-width: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
    opacity: 1;
}